@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Estonia&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Praise&family=Roboto+Condensed&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  margin: 0;
}

table {
  border-collapse: collapse;
}

article, aside, footer, header, main, nav, section {
  display: block;
}

:after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes txt {
  50% {
    opacity: 1;
    -webkit-transform: translate(0%, -10%);
            transform: translate(0%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes txt {
  50% {
    opacity: 1;
    -webkit-transform: translate(0%, -10%);
            transform: translate(0%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}

.bpl {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.bpa {
  background: transparent;
  border: none;
  cursor: pointer;
}

.xi-play, .xi-pause {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
}

a {
  cursor: pointer;
}

header {
  width: 100%;
  padding: 1.25em 0;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  top: 0;
}

.gnb {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.gnb .trigger-menu {
  position: absolute;
  left: 0;
  top: 50%;
  text-align: left;
  display: none;
  cursor: pointer;
}

.gnb .trigger-menu span {
  display: block;
  width: 26px;
  height: 1px;
  background-color: #373737;
  margin: 8px 0;
  z-index: 9999;
}

.gnb .trigger-menu span:nth-of-type(2) {
  width: 17.5px;
  height: 1px;
  background-color: #373737;
  margin: 8px 0;
  z-index: 9999;
}

.gnb .logo > a img {
  width: 100%;
  max-width: 96px;
}

.gnb .menu .sub .s-u {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.gnb .menu .sub .s-u > li {
  padding-left: 20px;
  position: relative;
}

.gnb .menu .sub .s-u > li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 1px;
  height: 11px;
  background-color: #c5c5c5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gnb .menu .sub .s-u > li:nth-child(1)::before {
  display: none;
}

.gnb .menu .sub .s-u > li > a {
  color: #666666;
  font-size: 14px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
}

.gnb .menu nav .n-u {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gnb .menu nav .n-u > li {
  padding-left: 40px;
}

.gnb .menu nav .n-u > li > a {
  color: #000;
  padding: 20px 0;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  position: relative;
}

.gnb .shop-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}

.gnb .shop-icon a img {
  max-width: 26px;
}

.side-m {
  position: fixed;
  right: 30px;
  top: 200px;
  z-index: 21;
  display: block;
}

.side-m button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.side-m .sidem-1 .sidem-2 a {
  opacity: 1;
  -webkit-transition: .1s;
  transition: .1s;
}

.side-m .sidem-1 .sidem-2 a img {
  width: 100%;
}

.chatbot {
  position: fixed;
  right: 10px;
  bottom: 110px;
  width: 90px;
  z-index: 99999999;
}

.chatbot img {
  width: 100%;
}

.top_scroll_btn {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 9999999;
}

.top_scroll_btn a {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 45px;
  cursor: pointer;
  display: block;
}

main .main-v {
  padding-top: 10%;
}

main .main-v .slide {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

main .main-v .slide .bg {
  position: relative;
}

main .main-v .slide .bg .bg1 a .backbg {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 42%;
  z-index: 1;
  background: #333 url(../img/main/main-bg/TOM-s1.jpg) center center/cover no-repeat;
}

main .main-v .slide .bg .indi {
  max-width: 1430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 15px;
}

main .main-v .slide .bg .indi .nuber {
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;
  color: #333;
}

main .main-v .slide .bg .indi .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-v .slide .bg .indi .line a span {
  display: block;
  width: 100px;
  height: 2px;
  margin-left: 10px;
  background-color: #000;
  border-bottom: 1px solid #000;
}

main .main-v .slide .bg .indi .line a:nth-of-type(2) span {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

main .main-v .slide .bg .indi .line a:nth-of-type(3) span {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

main .main-v .notice .n-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #572a31;
}

main .main-v .notice .n-1 p {
  max-width: 50px;
}

main .main-v .notice .n-1 p img {
  width: 100%;
}

main .main-v .notice .n-1 li {
  padding: 30px 20px 30px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: normal;
  line-height: normal;
}

main .main-v .notice .n-1 li a {
  margin-right: 20px;
}

main .main-v .notice .n-1 li p {
  margin-right: 40px;
}

main .main-v .notice .n-1 li img {
  display: block;
  max-width: 1em;
}

main .main-m {
  padding: 90px 0;
}

main .main-m .m-b {
  -webkit-animation: txt 1s forwards;
          animation: txt 1s forwards;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: 2s;
  transition: 2s;
  position: relative;
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

main .main-m .m-b .m-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-m .m-b .m-t .txtimg {
  -webkit-transform: translateX(calc(90% - 25px));
          transform: translateX(calc(90% - 25px));
  padding-bottom: 40px;
}

main .main-m .m-b .m-t .txtimg img {
  width: 100%;
}

main .main-m .m-b .m-t .txtindi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .main-m .m-b .m-t .txtindi .num {
  margin-right: 16px;
}

main .main-m .m-b .m-t .txtindi .btn span a {
  margin-right: 16px;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 100%;
  background-color: #d4d4d4;
}

main .main-m .m-b .m-t .txtindi .btn span a:nth-of-type(1) {
  background-color: #572a31;
}

main .main-m .m-b .prev-bt {
  position: absolute;
  display: inline-block;
  left: 20px;
  top: calc(50% - 30px);
  z-index: 10;
  cursor: pointer;
}

main .main-m .m-b .prev-bt img {
  width: 20px;
  height: 34px;
}

main .main-m .m-b .next-bt {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: calc(50% - 30px);
  z-index: 10;
  cursor: pointer;
}

main .main-m .m-b .next-bt img {
  width: 20px;
  height: 34px;
}

main .main-m .m-b .m-i .m-i1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .main-m .m-b .m-i .m-i1 div {
  position: relative;
  width: 100%;
}

main .main-m .m-b .m-i .m-i1 div a {
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

main .main-m .m-b .m-i .m-i1 div a p:nth-of-type(1) {
  position: relative;
}

main .main-m .m-b .m-i .m-i1 div a p:nth-of-type(1) img {
  width: 100%;
}

main .main-m .m-b .m-i .m-i1 div a p:nth-of-type(1)::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #d3d2d2;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

main .main-m .m-b .m-i .m-i1 div a p:nth-of-type(2) {
  padding-top: 40px;
  display: block;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: normal;
  color: #333;
}

main .main-m .m-b .m-i .m-i1 div a:hover > p:nth-of-type(1)::before {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

main .main-t {
  display: block;
}

main .main-t .sec3 {
  padding: 100px 0 95px;
  background: url(../img/main/sec3-bg/sec3_bg.jpg) center center/cover no-repeat;
}

main .main-t .sec3 .sec3-info {
  width: 100%;
  max-width: 1430px;
  position: relative;
  margin: 0 auto;
  color: #572a31;
}

main .main-t .sec3 .sec3-info .sec3-txt {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
  padding-left: 34px;
}

main .main-t .sec3 .sec3-info .sec3-txt h3 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -2.4px;
  line-height: 1.3;
}

main .main-t .sec3 .sec3-info .sec3-txt h2 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2.4px;
  line-height: normal;
}

main .main-t .sec3 .sec3-info .sec3-txt p {
  white-space: pre-line;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.7;
}

main .main-t .sec3 .sec3-info .sec3-txt .sec3-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-t .sec3 .sec3-info .sec3-txt .sec3-bt a {
  text-align: center;
  height: 2.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.3;
  border: 1px solid #572a31;
  padding: 10px 50px;
  margin: 0 5px;
}

main .main-t .sec3 .sec3-info .sec3-txt .sec3-bt a:nth-of-type(1) {
  background-color: #572a31;
  color: #fff;
}

main .main-md {
  padding: 90px 0;
}

main .main-md .m-b2 {
  position: relative;
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

main .main-md .m-b2 .m-t2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main-md .m-b2 .m-t2 .txtimg2 {
  -webkit-transform: translateX(calc(70% - 25px));
          transform: translateX(calc(70% - 25px));
  padding-bottom: 40px;
}

main .main-md .m-b2 .m-t2 .txtimg2 img {
  width: 100%;
}

main .main-md .m-b2 .m-t2 .txtindi2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .main-md .m-b2 .m-t2 .txtindi2 .num2 {
  margin-right: 16px;
}

main .main-md .m-b2 .m-t2 .txtindi2 .btn2 span a {
  margin-right: 16px;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 100%;
  background-color: #d4d4d4;
}

main .main-md .m-b2 .m-t2 .txtindi2 .btn2 span a:nth-of-type(1) {
  background-color: #572a31;
}

main .main-md .m-b2 .prev-bt2 {
  position: absolute;
  left: 20px;
  top: calc(50% - 30px);
  z-index: 10;
  cursor: pointer;
  display: inline-block;
}

main .main-md .m-b2 .prev-bt2 img {
  width: 20px;
  height: 34px;
}

main .main-md .m-b2 .next-bt2 {
  position: absolute;
  right: 20px;
  top: calc(50% - 30px);
  z-index: 10;
  cursor: pointer;
  display: inline-block;
}

main .main-md .m-b2 .next-bt2 img {
  width: 20px;
  height: 34px;
}

main .main-md .m-b2 .m2-i .m2-i1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main .main-md .m-b2 .m2-i .m2-i1 div {
  width: 100%;
}

main .main-md .m-b2 .m2-i .m2-i1 div a {
  text-align: center;
}

main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1) {
  position: relative;
}

main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1) img {
  width: 100%;
}

main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(2) {
  padding-top: 40px;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: normal;
  color: #333;
}

main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1)::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(255, 255, 255, 0.87);
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

main .main-md .m-b2 .m2-i .m2-i1 div a:hover > p:nth-of-type(1)::before {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.8;
}

footer {
  background-color: #efefef;
  color: #8a8a8a;
  font-size: 14px;
  padding: 96px 0 110px;
}

footer .area {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: normal;
          flex-direction: normal;
  -ms-flex-wrap: normal;
      flex-wrap: normal;
}

footer .area .cs {
  color: #572a31;
}

footer .area .cs p {
  font-size: 1em;
  line-height: 1;
}

footer .area .cs a {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 300;
  margin-top: 15px;
  display: block;
}

footer .area .info {
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

footer .area .info .sub-gnb {
  color: #572a31;
  width: 100%;
  max-width: 480px;
  margin-bottom: 32px;
}

footer .area .info .sub-gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .area .info .sub-gnb ul li {
  padding-right: 26px;
  position: relative;
}

footer .area .info .sub-gnb ul li a {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.2;
}

footer .area .info .sub-gnb ul li::before {
  content: '';
  position: absolute;
  display: block;
  right: calc(20% - 4px);
  top: 50%;
  background-color: #572a31;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

footer .area .info .sub-gnb ul li:nth-of-type(5)::before {
  opacity: 0;
}

footer .area .info .sub-gnb ul li:nth-of-type(6)::before {
  content: '';
  position: absolute;
  display: block;
  right: calc(15% - 4px);
  top: 50%;
  background-color: #572a31;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

footer .area .info .sub-gnb ul li:nth-of-type(7)::before {
  content: '';
  position: absolute;
  display: block;
  right: calc(15% - 4px);
  top: 50%;
  background-color: #572a31;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

footer .area .info .sub-gnb ul li:nth-of-type(8)::before {
  opacity: 0;
}

footer .area .info .add {
  white-space: pre-line;
}

footer .area .info .add span {
  font-size: 14px;
}

footer .area .info .add span a {
  padding-left: 8px;
}

footer .area .info .copy {
  margin-top: 20px;
  font-size: 14px;
}

footer .area .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

footer .area .sns p {
  padding-right: 24px;
  font-size: 16px;
}

footer .area .sns a {
  padding-right: 8px;
}

footer .area .sns a img {
  max-width: 32px;
  vertical-align: top;
}

footer .area .lang {
  display: none;
}

footer .area .lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .area .lang ul li {
  margin-right: 14px;
}

footer .area .lang ul li a {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #333;
}

/*===================================================================================
==================================== mobile =========================================
===================================================================================*/
@media (min-width: 320px) and (max-width: 767px) {
  header {
    position: fixed;
    z-index: 999;
    padding: 0;
  }
  .gnb {
    height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gnb .trigger-menu {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    z-index: 9999999999;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .gnb .trigger-menu span {
    display: block;
    width: 26px;
    height: 0.5px;
    background-color: #373737;
    margin: 8px 0;
    z-index: 9999;
  }
  .gnb .trigger-menu span:nth-child(2) {
    width: 20px;
    height: 1.5px;
    background-color: #373737;
    margin: 6px 0;
    z-index: 9999;
  }
  .gnb .logo {
    margin: 0 auto;
  }
  .gnb .logo > a img {
    max-width: 47.5px;
  }
  .gnb .menu {
    display: none;
  }
  .gnb .menu .sub .s-u {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .gnb .menu .sub .s-u > li {
    padding-left: 20px;
    position: relative;
  }
  .gnb .menu .sub .s-u > li::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 1px;
    height: 11px;
    background-color: #c5c5c5;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .gnb .menu .sub .s-u > li:nth-child(1)::before {
    display: none;
  }
  .gnb .menu .sub .s-u > li > a {
    color: #666666;
    font-size: 14px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  .gnb .menu nav .n-u {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gnb .menu nav .n-u > li {
    padding-left: 40px;
  }
  .gnb .menu nav .n-u > li > a {
    color: #000;
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    position: relative;
  }
  .gnb .shop-icon {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
  }
  .gnb .shop-icon a img {
    max-width: 26px;
  }
  .side-m {
    max-width: 100px;
    position: fixed;
    right: 10px;
    top: 200px;
    z-index: 21;
    display: block;
  }
  .side-m button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .side-m .sidem-1 .sidem-2 a {
    opacity: 1;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .side-m .sidem-1 .sidem-2 a img {
    width: 100%;
  }
  .chatbot {
    position: fixed;
    right: 10px;
    bottom: 110px;
    width: 90px;
    z-index: 99999999;
  }
  .chatbot img {
    width: 100%;
  }
  .top_scroll_btn {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 9999999;
  }
  .top_scroll_btn a {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 45px;
    cursor: pointer;
    display: block;
  }
  main .main-v {
    padding-top: 10%;
  }
  main .main-v .slide .bg {
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  main .main-v .slide .bg .bg1 a .backbg {
    padding-top: 42%;
    background: #333 url(../img/main/main-bg/Tom-s1-m.jpg) center center/cover no-repeat;
  }
  main .main-v .slide .bg .indi {
    max-width: 1430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0 15px;
  }
  main .main-v .slide .bg .indi .number {
    display: none;
  }
  main .main-v .slide .bg .indi .line {
    margin: 0 auto;
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 767px;
  }
  main .main-v .slide .bg .indi .line a span {
    display: block;
    width: 90px;
    height: 2.5px;
    margin-left: 10px;
    background-color: #000;
    border-bottom: 1px solid #000;
  }
  main .main-v .slide .bg .indi .p-i {
    display: none;
  }
  main .main-v .notice .n-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
  main .main-v .notice .n-1 .n-s2 {
    display: none;
  }
  main .main-v .notice .n-1 p {
    max-width: 30px;
  }
  main .main-v .notice .n-1 p img {
    width: 100%;
  }
  main .main-v .notice .n-1 li {
    padding: 0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: normal;
  }
  main .main-v .notice .n-1 li img {
    display: block;
    max-width: 10px;
  }
  main .main-m {
    padding: 90px 0;
  }
  main .main-m .m-b .m-t .txtimg {
    max-width: 265px;
    -webkit-transform: translateX(calc(50% - 130px));
            transform: translateX(calc(50% - 130px));
    padding-bottom: 40px;
    margin: 0 auto;
  }
  main .main-m .m-b .m-t .txtimg img {
    width: 100%;
  }
  main .main-m .m-b .m-t .txtindi {
    display: none;
  }
  main .main-m .m-b .m-i .m-i1 .i-2, main .main-m .m-b .m-i .m-i1 .i-3 {
    display: none;
  }
  main .main-m .m-b .m-i .m-i1 div a p:nth-of-type(1)::before {
    content: '';
    display: none;
  }
  main .main-t {
    display: block;
  }
  main .main-t .tbox .sec3 {
    padding-top: 145%;
    max-height: 1142px;
    position: relative;
    background: url(../img/main/sec3-bg/sec3_bg_m.jpg) center bottom/cover no-repeat;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -2.4px;
    line-height: 1.3;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt h2 {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2.4px;
    line-height: normal;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt p {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.4;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt .sec3-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt .sec3-bt a {
    text-align: center;
    height: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.3;
    padding: 10px 45px;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt .sec3-bt a:nth-of-type(1) {
    padding: 0 118px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  main .main-md {
    padding: 90px 0;
  }
  main .main-md .m-b2 {
    position: relative;
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  main .main-md .m-b2 .m-t2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main-md .m-b2 .m-t2 .txtimg2 {
    max-width: 265px;
    -webkit-transform: translateX(calc(50% - 100px));
            transform: translateX(calc(50% - 100px));
  }
  main .main-md .m-b2 .m-t2 .txtimg2 img {
    width: 100%;
  }
  main .main-md .m-b2 .m-t2 .txtindi2 {
    display: none;
  }
  main .main-md .m-b2 .m2-i .m2-i1 .i2-2, main .main-md .m-b2 .m2-i .m2-i1 .i2-3 {
    display: none;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1)::before {
    content: '';
    display: none;
  }
  footer {
    padding: 66px 0;
  }
  footer .area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1430px;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
  }
  footer .area .cs {
    color: #572a31;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 40px;
  }
  footer .area .cs p {
    font-size: 16px;
    line-height: 1;
  }
  footer .area .cs a {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    margin-top: 5px;
    display: block;
  }
  footer .area .info {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  footer .area .info .sub-gnb {
    color: #572a31;
    width: 100%;
    max-width: 480px;
    margin-bottom: 32px;
  }
  footer .area .info .sub-gnb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .area .info .sub-gnb ul li {
    padding-right: 34px;
    position: relative;
  }
  footer .area .info .sub-gnb ul li a {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2;
  }
  footer .area .info .sub-gnb ul li::before {
    content: '';
    position: absolute;
    display: block;
    right: calc(20% - 4px);
    top: 50%;
    background-color: #572a31;
    width: 2px;
    height: 2px;
    border-radius: 50%;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(3)::before {
    opacity: 0;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(5)::before {
    opacity: 1;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(6)::before {
    opacity: 0;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(7)::before {
    content: '';
    position: absolute;
    display: block;
    right: calc(15% - 4px);
    top: 50%;
    background-color: #572a31;
    width: 2px;
    height: 2px;
    border-radius: 50%;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(8)::before {
    opacity: 0;
  }
  footer .area .info .add {
    white-space: pre-line;
  }
  footer .area .info .add span {
    font-size: 14px;
    letter-spacing: -0.6px;
  }
  footer .area .info .add span a {
    padding-left: 8px;
  }
  footer .area .info .copy {
    margin-top: 20px;
    font-size: 12px;
  }
  footer .area .sns {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .area .sns p {
    padding-right: 24px;
    font-size: 14px;
    color: #666;
  }
  footer .area .sns a {
    padding-right: 8px;
  }
  footer .area .sns a img {
    max-width: 32px;
    vertical-align: top;
  }
  footer .area .lang {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 40px;
  }
  footer .area .lang .lang-title p {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.3;
    color: #666;
    margin-bottom: 5px;
  }
  footer .area .lang .lang-box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .area .lang .lang-box ul li {
    margin-right: 14px;
  }
  footer .area .lang .lang-box ul li a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
    color: #333;
  }
}

/*===================================================================================
==================================== tablet =========================================
===================================================================================*/
@media (min-width: 767px) and (max-width: 1025px) {
  header {
    position: fixed;
    z-index: 999;
    padding: 0;
  }
  .gnb {
    height: 60px;
    margin: 0 auto;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gnb .trigger-menu {
    position: absolute;
    left: 0;
    top: 50%;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    z-index: 9999999999;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .gnb .trigger-menu span {
    display: block;
    width: 26px;
    height: 0.5px;
    background-color: #373737;
    margin: 8px 0;
    z-index: 9999;
  }
  .gnb .trigger-menu span:nth-child(2) {
    width: 20px;
    height: 1.5px;
    background-color: #373737;
    margin: 6px 0;
    z-index: 9999;
  }
  .gnb .logo {
    margin: 0 auto;
  }
  .gnb .logo > a img {
    max-width: 47.5px;
  }
  .gnb .menu {
    display: none;
  }
  .gnb .menu .sub .s-u {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .gnb .menu .sub .s-u > li {
    padding-left: 20px;
    position: relative;
  }
  .gnb .menu .sub .s-u > li::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 1px;
    height: 11px;
    background-color: #c5c5c5;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .gnb .menu .sub .s-u > li:nth-child(1)::before {
    display: none;
  }
  .gnb .menu .sub .s-u > li > a {
    color: #666666;
    font-size: 14px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  .gnb .menu nav .n-u {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gnb .menu nav .n-u > li {
    padding-left: 40px;
  }
  .gnb .menu nav .n-u > li > a {
    color: #000;
    padding: 20px 0;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    position: relative;
  }
  .gnb .shop-icon {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
  }
  .gnb .shop-icon a img {
    max-width: 26px;
  }
  .side-m {
    position: fixed;
    right: 30px;
    top: 200px;
    z-index: 21;
    display: block;
  }
  .side-m button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .side-m .sidem-1 .sidem-2 a {
    opacity: 1;
    -webkit-transition: .1s;
    transition: .1s;
  }
  .side-m .sidem-1 .sidem-2 a img {
    width: 100%;
  }
  .chatbot {
    position: fixed;
    right: 10px;
    bottom: 110px;
    width: 90px;
    z-index: 99999999;
  }
  .chatbot img {
    width: 100%;
  }
  .top_scroll_btn {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 9999999;
  }
  .top_scroll_btn a {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 45px;
    cursor: pointer;
    display: block;
  }
  main .main-v .slide .bg .bg1 a .backbg {
    padding-top: 152%;
    background: #333 url(../img/main/main-bg/Tom-s1-m.jpg) center center/cover no-repeat;
  }
  main .main-v .slide .bg .indi .number {
    display: none;
  }
  main .main-v .slide .bg .indi .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main-v .slide .bg .indi .line a span {
    display: block;
    width: 100px;
    height: 2px;
    margin-left: 10px;
    background-color: #000;
    border-bottom: 1px solid #000;
  }
  main .main-v .slide .bg .indi .p-i {
    display: none;
  }
  main .main-v .notice .n-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #572a31;
  }
  main .main-v .notice .n-1 p {
    max-width: 50px;
  }
  main .main-v .notice .n-1 p img {
    width: 100%;
  }
  main .main-v .notice .n-1 li {
    padding: 30px 20px 30px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    vertical-align: middle;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: normal;
    line-height: normal;
  }
  main .main-v .notice .n-1 li a {
    margin-right: 20px;
  }
  main .main-v .notice .n-1 li p {
    margin-right: 40px;
  }
  main .main-v .notice .n-1 li img {
    display: block;
    max-width: 1em;
  }
  main .main-v .notice .n-s2 {
    display: none;
  }
  main .main-m .m-b .m-t .txtimg {
    max-width: 458px;
    -webkit-transform: translateX(calc(40% - 25px));
            transform: translateX(calc(40% - 25px));
  }
  main .main-m .m-b .m-t .txtindi {
    display: none;
  }
  main .main-m .m-b .prev-bt {
    left: 20px;
    top: calc(55% - 30px);
  }
  main .main-m .m-b .prev-bt img {
    width: 18px;
    height: 30px;
  }
  main .main-m .m-b .next-bt {
    right: 20px;
    top: calc(55% - 30px);
  }
  main .main-m .m-b .next-bt img {
    width: 18px;
    height: 30px;
  }
  main .main-t {
    display: block;
  }
  main .main-t .tbox .sec3 {
    padding-top: 145%;
    max-height: 1142px;
    position: relative;
    background: url(../img/main/sec3-bg/sec3_bg_m.jpg) center bottom/cover no-repeat;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt h3 {
    font-size: 43px;
    font-weight: normal;
    letter-spacing: -2.4px;
    line-height: 1.3;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt h2 {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -2.4px;
    line-height: normal;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.4;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt .sec3-bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt .sec3-bt a {
    text-align: center;
    height: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.3;
    padding: 10px 45px;
  }
  main .main-t .tbox .sec3 .sec3-info .sec3-txt .sec3-bt a:nth-of-type(1) {
    padding: 0 200px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  main .main-md {
    padding: 90px 0;
  }
  main .main-md .m-b2 {
    position: relative;
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  main .main-md .m-b2 .m-t2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .main-md .m-b2 .m-t2 .txtimg2 {
    -webkit-transform: translateX(calc(70% - 25px));
            transform: translateX(calc(70% - 25px));
    padding-bottom: 40px;
  }
  main .main-md .m-b2 .m-t2 .txtimg2 img {
    width: 100%;
  }
  main .main-md .m-b2 .m-t2 .txtindi2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main .main-md .m-b2 .m-t2 .txtindi2 .num2 {
    margin-right: 16px;
  }
  main .main-md .m-b2 .m-t2 .txtindi2 .btn2 span a {
    margin-right: 16px;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 100%;
    background-color: #d4d4d4;
  }
  main .main-md .m-b2 .m-t2 .txtindi2 .btn2 span a:nth-of-type(1) {
    background-color: #572a31;
  }
  main .main-md .m-b2 .prev-bt2 {
    position: absolute;
    left: 20px;
    top: calc(50% - 30px);
    z-index: 10;
    cursor: pointer;
    display: inline-block;
  }
  main .main-md .m-b2 .prev-bt2 img {
    width: 20px;
    height: 34px;
  }
  main .main-md .m-b2 .next-bt2 {
    position: absolute;
    right: 20px;
    top: calc(50% - 30px);
    z-index: 10;
    cursor: pointer;
    display: inline-block;
  }
  main .main-md .m-b2 .next-bt2 img {
    width: 20px;
    height: 34px;
  }
  main .main-md .m-b2 .m2-i .m2-i1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div {
    width: 100%;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a {
    text-align: center;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1) {
    position: relative;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1) img {
    width: 100%;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(2) {
    padding-top: 40px;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: normal;
    color: #333;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a p:nth-of-type(1)::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 0.87);
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  main .main-md .m-b2 .m2-i .m2-i1 div a:hover > p:nth-of-type(1)::before {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0.8;
  }
  footer {
    background-color: #efefef;
    color: #8a8a8a;
    font-size: 14px;
    padding: 96px 0 110px;
  }
  footer .area {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: normal;
            flex-direction: normal;
    -ms-flex-wrap: normal;
        flex-wrap: normal;
  }
  footer .area .cs {
    color: #572a31;
  }
  footer .area .cs p {
    font-size: 1em;
    line-height: 1;
  }
  footer .area .cs a {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 300;
    margin-top: 15px;
    display: block;
  }
  footer .area .info {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  footer .area .info .sub-gnb {
    color: #572a31;
    width: 100%;
    max-width: 480px;
    margin-bottom: 32px;
  }
  footer .area .info .sub-gnb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .area .info .sub-gnb ul li {
    padding-right: 26px;
    position: relative;
  }
  footer .area .info .sub-gnb ul li a {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.2;
  }
  footer .area .info .sub-gnb ul li::before {
    content: '';
    position: absolute;
    display: block;
    right: calc(20% - 4px);
    top: 50%;
    background-color: #572a31;
    width: 2px;
    height: 2px;
    border-radius: 50%;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(5)::before {
    opacity: 0;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(6)::before {
    content: '';
    position: absolute;
    display: block;
    right: calc(15% - 4px);
    top: 50%;
    background-color: #572a31;
    width: 2px;
    height: 2px;
    border-radius: 50%;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(7)::before {
    content: '';
    position: absolute;
    display: block;
    right: calc(15% - 4px);
    top: 50%;
    background-color: #572a31;
    width: 2px;
    height: 2px;
    border-radius: 50%;
  }
  footer .area .info .sub-gnb ul li:nth-of-type(8)::before {
    opacity: 0;
  }
  footer .area .info .add {
    white-space: pre-line;
  }
  footer .area .info .add span {
    font-size: 14px;
  }
  footer .area .info .add span a {
    padding-left: 8px;
  }
  footer .area .info .copy {
    margin-top: 20px;
    font-size: 14px;
  }
  footer .area .sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  footer .area .sns p {
    padding-right: 24px;
    font-size: 16px;
  }
  footer .area .sns a {
    padding-right: 8px;
  }
  footer .area .sns a img {
    max-width: 32px;
    vertical-align: top;
  }
  footer .area .lang {
    display: none;
  }
  footer .area .lang ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .area .lang ul li {
    margin-right: 14px;
  }
  footer .area .lang ul li a {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
    color: #333;
  }
}
/*# sourceMappingURL=index.css.map */